<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomodoro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <style>
        .completed {
            text-decoration: line-through
        }
        
        h1 {
            font-size: 8rem;
        }
        
        .title {
            font-size: 3em;
        }
        
        .editbox {
            position: absolute;
            height: 0;
            z-index: -1;
            cursor: default;
        }
        
        .remove-option {
            background-color: #fff;
            z-index: -1;
            opacity: 0;
        }
        
        .deep-remove:focus-within .remove-option {
            opacity: 1;
            z-index: 1;
        }
        
        .editbox:focus {
            position: static;
            height: 100%;
            z-index: 1;
        }
        
        .editbox:focus~label {
            display: none;
        }
        
        input[type='checkbox']:checked~label {
            text-decoration: line-through;
        }
        
        .subtask {
            visibility: hidden;
        }
        
        .task:hover .subtask {
            visibility: visible;
        }
    </style>
</head>

<body>
    <div id="app">
        <div id="app" class="container vh-100 mx-auto row">
            <div class="align-self-center justify-content-center">
                <div class="row justify-content-center">
                    <div class="pomodoro text-center">
                        <div class="title my-5">Pomodoro</div>
                        <select name="version" id="version" class="justify-content-center" v-model=roundsetting>
                            <option value="45/15">45 m / 15 m</option>
                            <option value="50/10">50 m / 10 m</option>
                            <option value="25/5">25 m / 5 m</option>
                            <option value="0.05/0.1">3 s / 2 s</option>
                        </select>
                        <div class="timer">
                            <h1>{{showTime.min}}：{{showTime.sec}}</h1>
                        </div>
                        <div class="input-group mb-3 justify-content-center">
                            <button class="btn btn-outline-primary col-1" type="button" @click='start'>Start</button>
                            <button class="btn btn-outline-primary col-1" type="button" @click='pause'>Pause</button>
                            <button class="btn btn-outline-primary col-1" type="button" @click='reset'>Reset</button>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-5 mt-5">
                        <div class="input-group mb-3">
                            <span class="input-group-text">待辦事項</span>
                            <input type="text" class="form-control" placeholder="準備要做的任務" id="newTodo" v-model='newTodo'>
                            <button class="btn btn-primary" type="button" id="addTodo" @click='add'>新增</button>
                        </div>
                        <div class="card text-center">
                            <ul class="list-group list-group-flush text-left" id="todoList">
                                <li v-for='item of showList' class="list-group-item" :key='item.id'>
                                    <div class="d-flex task">
                                        <div class="form-check">
                                            <div>
                                                <input id="check" type="checkbox" class="form-check-input" v-model='item.status' @change='save2Storage'>
                                                <input :id="item.id" type="text" class="editbox" v-model="item.task" @click='tempsave(item.id,item.task)' @blur='taskcheck(item.id)'>
                                                <label :for="item.id">{{item.task}}</label>
                                            </div>
                                        </div>
                                        <button type="button" class="btn-outline-secondary btn-sm ms-3 py-0 mb-1 subtask" @click.stop='addSub(item.id)'>subtask</button>
                                        <button v-show='item.childs.length === 0' type="button" class="btn-close ms-auto remove" @click='remove(item.id)'>
                                        </button>
                                        <div v-show='item.childs.length !== 0' class="ms-auto col-6 row deep-remove">
                                            <div class="col-10">
                                                <div class="input-group remove-option">
                                                    <button type="button" class="btn btn-outline-primary btn-sm col-7" @click='remove(item.id,"single")'>單獨刪</button>
                                                    <button type="button" class="btn btn-outline-primary btn-sm col-5" @click='remove(item.id,"group")'>全刪</button>
                                                </div>
                                            </div>
                                            <button type="button" class="col-2 btn-close"></button>
                                        </div>
                                    </div>
                                    <ul v-for='child of item.childs' class="list-group list-group-flush">
                                        <li class="list-group-item list-group-item-secondary">
                                            <div class="d-flex">
                                                <div class="form-check">
                                                    <div>
                                                        <input id="check" type="checkbox" class="form-check-input" v-model='child.status' @change='save2Storage'>
                                                        <input :id="child.id" type="text" class="editbox" v-model="child.task" @click='tempsave(child.id,child.task)' @blur='taskcheck(child.id)'>
                                                        <label :for="child.id">{{child.task}}</label>
                                                    </div>
                                                </div>
                                                <button type="button" class="btn-close ms-auto remove" @click='remove(child.id)'>
                                                </button>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="card-footer d-flex justify-content-between">
                                <span>有 <span id="taskCount">{{showList.length}}</span> 筆任務</span>
                                <div>
                                    <a href="#" class="me-3" @click='showStatus = "all"'>全部</a>
                                    <a href="#" class="me-3" @click='showStatus = "doing"'>未完成</a>
                                    <a href="#" class="me-3" @click='showStatus = "done"'>已完成</a>
                                    <a href="#" @click='allRemove'>清除所有任務</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        {
            // const timer = function() {
            //     let initialTime = 0,
            //         time = 0;
            //     let counter = '0';
            //     let status = '';
            //     let countdown = function() {
            //         time--;
            //     }
            //     return {
            //         getTime() {
            //             return time;
            //         },
            //         setTime(val) {
            //             if (typeof val !== 'number' || val === NaN) return;
            //             initialTime = val;
            //             time = val;
            //         },
            //         start() {
            //             counter = setInterval(countdown(), 1000);
            //         },
            //         pause() {
            //             clearInterval(counter);
            //         },
            //         reset() {
            //             clearInterval(counter);
            //             time = initialTime;
            //             counter = '0';
            //         }
            //     }
            // };
        };

        const lib = function() {
            let idcount = 0;
            return {
                add(val, parentId) {
                    let obj = {
                        id: idcount,
                        task: val,
                        status: false,
                        parentId: parentId,
                        childs: [],
                    }
                    idcount++;
                    return obj;
                },
                getChilds(arr) {
                    // const temp = JSON.parse(JSON.stringify(arr)); 拷貝不可行 真的靠北
                    const temp = [...arr];
                    return temp.filter(el => el.parentId !== undefined);
                },
                getParent(arr) {
                    const temp = [...arr];
                    return temp.filter(el => el.parentId === -1);
                },
                all(parent, child) {
                    let results = parent.map(el => {
                        el.childs = child.filter(item => item.parentId === el.id);
                        return el;
                    });
                    return results;
                },
                done(parent, child) {
                    let results = parent.map(el => {
                        el.childs = child.filter(item => item.parentId === el.id && item.status === true);
                        if (el.childs.length === 0 && el.status === false) return 'delete';
                        return el;
                    });
                    while (results.findIndex(el => el === 'delete') !== -1) {
                        results.splice(results.findIndex(el => el === 'delete'), 1);
                    };
                    console.log(results);
                    return results;
                },
                doing(parent, child) {
                    let results = parent.map(el => {
                        el.childs = child.filter(item => item.parentId === el.id && item.status === false);
                        if (el.childs.length === 0 && el.status === true) return 'delete';
                        return el;
                    });
                    while (results.findIndex(el => el === 'delete') !== -1) {
                        results.splice(results.findIndex(el => el === 'delete'), 1);
                    };
                    console.log(results);
                    return results;
                },
                resetidcount() {
                    idcount = 0;
                },
                setlastidcount(lastid) {
                    idcount = lastid;
                }
            }
        }
        let model = lib();
        Vue.createApp({
            data() {
                return {
                    newTodo: '',
                    todoList: [],
                    temp: {},
                    showStatus: '',
                    timer: {
                        status: '',
                        initialTime: 0,
                        time: 0,
                        counter: '0',
                        min: 0,
                        sec: 0,
                    },
                    roundsetting: '45/15',
                }
            },
            methods: {
                add() {
                    if (this.newTodo.length === 0) return;
                    this.todoList.push(model.add(this.newTodo, -1));
                    this.newTodo = '';
                    this.save2Storage();
                },
                addSub(id) {
                    this.todoList.push(model.add('subtask', id));
                    this.save2Storage();
                },
                remove(id, option) {
                    let checkitem = [];
                    if (option === 'group') {
                        checkitem = this.todoList.filter(el => el.parentId === id);
                        checkitem.forEach(el => {
                            this.todoList.splice(this.todoList.findIndex(item => item.id === el.id), 1);
                        });
                    }
                    this.todoList.splice(this.todoList.findIndex(el => el.id === id), 1);
                    if (option === 'single') {
                        checkitem = this.todoList.filter(el => el.parentId === id)
                        checkitem.forEach(el => {
                            el.parentId = -1;
                        })
                    }
                    this.save2Storage();
                },
                tempsave(id, task) {
                    // if(this.temp.id !== undefined && this.temp.id === id)return;
                    this.temp = {
                        id: id,
                        task: task
                    };
                    console.log(this.temp);
                },
                taskcheck(id) {
                    let checkitem = this.todoList.find(el => el.id === id);
                    if (checkitem.task === '') this.todoList.find(el => el.id === id).task = this.temp.task;
                    this.save2Storage();
                },
                getStorage() {
                    if (localStorage.getItem('list')) {
                        try {
                            this.todoList = JSON.parse(localStorage.getItem('list'));
                            let lastid = this.todoList.reduce((acc, curr) => {
                                return acc > curr.id ? acc : curr.id;
                            }, 0)
                            console.log('lastid:', lastid);
                            model.setlastidcount(lastid + 1);
                        } catch (error) {
                            console.log('localStorage fetch fail:', error);
                        }
                    }
                },
                save2Storage() {
                    let parsed = JSON.stringify(this.todoList);
                    localStorage.setItem('list', parsed);
                    console.log('save！');
                },
                allRemove() {
                    if (window.confirm('確定全部刪除？')) {
                        this.todoList = [];
                        model.resetidcount();
                        this.save2Storage();
                    }
                },
                countdown() {
                    this.timer.time--;
                },
                setTime(val) {
                    if (typeof val !== 'number' || val === NaN) return;
                    this.timer.initialTime = val;
                    this.timer.time = val;
                    this.timer.status = 'pause';
                },
                start() {
                    if (this.timer.status === 'pause') this.timer.counter = setInterval(this.countdown, 1000);
                    this.timer.status = 'run';
                },
                pause() {
                    clearInterval(this.timer.counter);
                    this.timer.status = 'pause';
                },
                reset() {
                    clearInterval(this.timer.counter);
                    this.timer.time = this.timer.initialTime;
                    this.timer.counter = '0';
                    this.timer.status = 'pause';
                }
            },
            computed: {
                showList() {
                    let child = model.getChilds(this.todoList);
                    let parent = model.getParent(this.todoList);
                    let sortArray = model[this.showStatus || 'all'](parent, child);
                    return sortArray.reverse();
                },
                showTime() {
                    return {
                        min: Math.floor(this.timer.time / 60),
                        sec: (this.timer.time % 60).toString().length > 1 ? this.timer.time % 60 : '0' + this.timer.time % 60,
                    };
                },
            },
            mounted() {
                this.getStorage();
                this.showStatus = 'all';
                this.setTime(45 * 60);
            },
            beforeDestroy() {
                this.reset();
            },
        }).mount('#app');
    </script>
</body>

</html>